.nav-link {
  /*background-color: white;*/
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  gap: 2rem;
}

.nav-link a {
  text-decoration: none;
  color: var(--faded-green);
  justify-self: flex-start;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
  font-family: var(--inter-regular);
  font-size: var(--h3-size);
  height: 1.3rem;
}

.line {
  height: 1.2px;
  width: 10%;
  background-color: var(--faded-green);
  margin-left: auto;
  transition: width 0.3s ease;
  border-radius: 20px;
}

.nav-link a:hover + .line {
  width: 100%;
  background-color: white;
}

.nav-link a:hover {
  color: white;
  transform: translateX(5px);
}
