.link {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: var(--faded-green);
  text-decoration: none;
  transition: color 0.25s ease;
  font-family: var(--inter-medium);
}

.link-arrow {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;

  transition: transform 0.25s ease;
}

.link:hover {
  color: white;
}

.link:hover .link-arrow {
  transform: translateX(6px);
}
