@font-face {
  font-family: "Inter-Regular";
  src: url("../assets/fonts/Inter_24pt-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Medium";
  src: url("../assets/fonts/Inter_24pt-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Semibold";
  src: url("../assets/fonts/Inter_24pt-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../assets/fonts/Inter_28pt-Bold.ttf") format("truetype");
}

:root {
  --darkest-green: #002511;
  --dark-green: #014923;
  --light-green: #44a170;
  --faded-green: #9db5a4;

  --h1-size: 36px;
  --h2-size: 20px;
  --h3-size: 18px;
  --a-size: 16px;

  --inter-regular: "Inter-Regular";
  --inter-medium: "Inter-Medium";
  --inter-semibold: "Inter-Semibold";
  --inter-bold: "Inter-Bold";

  --letter-spacing: 0.05rem;
  --letter-spacing2: 0.03rem;
  --bg: radial-gradient(#002b14, var(--darkest-green));

  font-family: var(--inter-regular), sans-serif;
  font-size: 18px;
  line-height: 1.45;
  letter-spacing: 0.18px;
  color: white;

  background-color: var(--darkest-green);
  background-image: var(--bg);
  background-position: center;
  background-size: 100vw 100vh;
  background-size: 100vw 100dvh;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
  min-height: 100dvh;
}

@media (max-width: 1024px) {
  :root {
    font-size: 16px;
  }
}
