.aside {
  position: sticky;
  top: 0;
  align-self: start;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: fit-content;
  height: 100vh;
  height: 100dvh;
  box-sizing: border-box;

  padding-block: 3rem;
  gap: 2rem;
  overflow-y: auto;
  margin: auto;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.hero-logo img {
  width: 8rem;
}

.header-texts {
  text-align: left;
}

.header-texts h1,
.header-texts h2,
.header-texts h3 {
  padding: 0;
  margin: 0;
  letter-spacing: var(--letter-spacing);
}

.header-texts h1 {
  font-family: var(--inter-bold);
  color: white;
  font-size: var(--h1-size);
  margin-bottom: 0.7rem;
}

.header-texts h2 {
  font-family: var(--inter-semibold);
  color: var(--light-green);
  font-size: var(--h2-size);
}

.header-texts h3 {
  font-family: var(--inter-regular);
  color: var(--faded-green);
  font-size: var(--h3-size);
  margin-top: 0.3rem;
}
.nav-links,
.head-footer {
  width: 100%;
}

.head-footer {
  display: flex;
  align-items: center;
  margin-top: auto;
  justify-content: flex-start;
}

.btn-cont {
  justify-self: flex-start;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
}

.social-links a {
  display: grid;
  place-items: center;
  color: var(--dark-green);
}

.social-icon {
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  fill: var(--faded-green);
  transition: 0.25s ease;
}

.social-links a:hover .social-icon {
  fill: white;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: flex-start;
  width: 100%;
  contain: inline-size;
}

.skill-card {
  flex: 0 0 auto;
  padding: 0.1rem 1rem;
  background: #ffffff14;
  border-radius: 4rem;
  color: #f6fffb;
  width: fit-content;
}

.skill-card-text {
  font-family: var(--inter-regular);
  font-size: var(--a-size);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

hr {
  height: 1px;
  width: 100%;
  border: none;
  background: #cacaca33;
}

.work-status {
  width: 100%;
}

.OTW {
  margin: 0;
  padding: 0;
  font-family: var(--inter-semibold);
}
